#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

PACKAGE = wput

include debian/debian-vars.mk
include debian/debian-autotools.mk

# Taken from src/Makefile

CFLAGS = -Wall -g -O2 -Wall  -g -DLOCALEDIR=/usr/share/locale -I/usr/include

# [Debian add: Needed for]
# ftp-ls.c:851: warning: implicit declaration of function 'strptime'

CFLAGS += -DXOPEN_SOURCE

config-stamp: configure
	# target: config-stamp
	dh_testdir
	FLAGS="$(CFLAGS)" ./configure \
		--host=$(DEB_HOST_GNU_TYPE) \
		--build=$(DEB_BUILD_GNU_TYPE) \
		--prefix=/usr \
		--mandir=\$${prefix}/share/man \
		--infodir=\$${prefix}/share/info
	$(config-save)
	$(config-patch)
	touch config-stamp

build-stamp: config-stamp
	# target: build-stamp
	dh_testdir
	$(MAKE) -C src CC="gcc $(CFLAGS)"
	$(MAKE) -C po
	touch build-stamp

build: build-stamp

install: build
	# target: install
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs
	#$(MAKE) install prefix=$(CURDIR)/debian/wput/usr
	dh_install
	dh_installman

binary-arch: build install
	# target: binary-arch
	dh_testdir
	dh_testroot
	$(config-restore)
	dh_installchangelogs
	dh_installdocs
	dh_lintian
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

%:
	dh $@

binary: binary-arch

.PHONY: build install
.PHONY: binary-indep binary-arch binary

# End of file
