#!/usr/bin/make -f

PACKAGE = wput

include debian/debian-vars.mk
include debian/debian-autotools.mk
include debian/debian-save-restore.mk

# Original sources modified by build process
FILE_LIST_PRESERVE = \
 Makefile \
 doc/wdel.1~ \
 doc/wput.1~ \
 config.status \
 po/Makefile \
 po/Makefile.in \
 src/Makefile

include /usr/share/dpkg/buildflags.mk
CFLAGS	+= -Wall -pedantic
LDFLAGS += -Wl,--as-needed

# _XOPEN_SOURCE is needed for
# ftp-ls.c:851: warning: implicit declaration of function 'strptime'
CFLAGS_EXTRA = -D_XOPEN_SOURCE=600 $(CFLAGS)

override_sh_auto_configure:
	$(config-save)
	$(file-state-save)
	$(config-patch)
	FLAGS="$(CFLAGS)" \
	LDFLAGS="$(LDFLAGS)" \
		./configure \
		--host=$(DEB_HOST_GNU_TYPE) \
		--build=$(DEB_BUILD_GNU_TYPE) \
		--prefix=/usr \
		--mandir=\$${prefix}/share/man \
		--infodir=\$${prefix}/share/info

override_dh_auto_build:
	$(MAKE) -C src CFLAGS_EXTRA="$(CFLAGS_EXTRA)"
	$(MAKE) -C po
	$(file-state-restore)

override_dh_clean:
	dh_clean
	$(config-restore)

%:
	dh $@

# End of file
